.banner {
  position: relative;
  min-width: $min-content-width;
  max-width: $max-content-width;
  min-height: $min-section-height;
  margin: auto;
  padding: $section-vertical-padding 10%;
  text-align: center;
  box-sizing: border-box;

  & > h2 {
    margin: 0 0 30px;
  }

  & > p {
    color: $primary-text-colour;
  }
}

.faded-out {
  opacity: 0;
}

.faded-in {
  animation: fade-in 0.5s ease-out;
}

// Fade-in animation
@keyframes fade-in {
  0% {
    opacity: 0;
    top: 100px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@media only screen and (min-width: $screen-width-s) {
  .banner {
    box-sizing: inherit;

    &:not(.showcase):not(.logos) {
      padding: $section-vertical-padding 20%;
    }
  }
}

// 20x + 1500 + 20x = 100x => 100x = 2500
@media only screen and (min-width: $screen-width-xl) {
  .banner {
    padding: $section-vertical-padding calc((100% - #{$max-content-width}) / 2);
  }
}
