section.banner.hero {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 130px 10%;
  width: stretch;
  max-width: 100vw;
  top: 0;
  background: $primary-colour;
  overflow: hidden;
  z-index: 1000;
  transition: height 0.3s ease;
  box-sizing: border-box;
}

.hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: inherit;
  height: inherit;
  max-width: $screen-width-l;
  padding: 0 10%;
  animation: hero-fade-in 0.2s ease-out;
}

@keyframes hero-fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.hero {
  img {
    position: relative;
    max-width: 80vw;
    max-height: 80vw;
    border-radius: 100%;
    border: 3px solid $primary-colour-light;
    box-shadow: 5px 5px 10px rgba(2, 23, 33, 0.12);
    flex-shrink: 0;
  }

  .greeting {
    z-index: 10;
  }

  .action {
    margin-left: auto;
  }
}

.conversation {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

@mixin speech-bubble-arrow-base() {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 20px solid transparent;
}

.speech-bubble {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 70px;
  margin: 10px 0;
  padding: 0 10px;
  border-radius: 10px;
  background: #fbfeff;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(2, 23, 33, 0.12);
  
  // Ensure that the speech bubble contents are in front of the bubble arrow
  * {
    z-index: 5;
  }
  
  h1 {
    font-size: 1.2em;
    white-space: nowrap;
  }

  &.greeting:after {
    @include speech-bubble-arrow-base();
    left: 0;
    top: 0;
    border-right-color: #fbfeff;
    border-left: 0;
    border-top: 0;
    margin-top: 0;
    margin-left: -12px;
  }

  &.action:after {
    @include speech-bubble-arrow-base();
    right: 0;
    bottom: 0;
    border-left-color: #fbfeff;
    border-right: 0;
    border-bottom: 0;
    margin-top: 0;
    margin-right: -12px;
  }
}

// After $screen-width-xs, we can increase the header font size
@media only screen and (min-width: $screen-width-xs) {
  .speech-bubble h1 {
    font-size: 1.5em;
  }
}

// Between widths of 900 and 1000 px, the header font size is temporarily too large
@media only screen and (min-width: $screen-width-m) and (max-width: 1000px) {
  .speech-bubble h1 {
    font-size: 1.2em;
  }
}

// Devices with a larger width get a header animation
@media only screen and (min-width: $screen-width-m) {
  section.banner.hero {
    padding: 0;
    height: 500px;
  }

  .hero-content {
    flex-direction: row;
    justify-content: center;
  }

  .hero img {
    width: 400px;
    height: 400px;
  }

  .conversation {
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    margin-top: 0;
  }
  
  .speech-bubble {
    width: calc(40vw - 120px);
    max-width: $screen-width-l / 2 - 120px;
    margin: 10px;
  }
}

// Devices with larger width & height get a sticky header
@media only screen and (min-width: $screen-width-m) and (min-height: $screen-height-s) {
  section.banner.hero  {
    position: sticky;
    top: -400px;
  }

  .hero-content {
    position: fixed;
    top: 0;
  }
}

// We need to disable the max-height set from the Hero component on smaller screens
@media only screen and (max-width: $screen-width-m - 0.0001px) {
  .hero-content {
    max-height: none !important;
  }
}
