.logo {
  align-self: center;

  img {
    width: 100px;
    padding: 25px 15px;
    transition: 0.5s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}

// Bigger screens get bigger logos
@media only screen and (min-width: $screen-width-m) {
  .logo img {
    width: 200px;
    padding: 50px 30px;
  }
}
