.showcase {
  background: var(--background-colour);
  padding-bottom: 80px;
}

.showpieces {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  a {
    color: rgb(43, 43, 43);
    text-decoration: none;
  }
}
