.showcase {
  background: $background-colour;
  padding-bottom: 80px;
}

.showpieces {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
  a {
    color: rgb(43, 43, 43);
    text-decoration: none;
  }
}

// 20x + 1500 + 20x = 100x => 100x = 2500
@media only screen and (min-width: $screen-width-l) {
  .showcase {
    padding: $section-vertical-padding calc((100% - #{$max-content-width}) / 2);
  }
}
