/**
 * Variables
 */
$primary-colour: #50bebe;
$primary-colour-light: #b3ddd9;
$background-colour: #f2f6f9;
$primary-text-colour: #474747;

$screen-width-xs: 450px;
$screen-width-s: 768px;
$screen-width-m: 900px;
$screen-width-l: 1800px;
$screen-width-xl: 2500px;

$screen-height-s: 700px;

$min-content-width: 360px;
$max-content-width: 1500px;

$min-section-height: 200px;
$section-vertical-padding: 50px;

/**
 * General
 */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

img {
  display: block;
}

/**
 * Components
 */
@import 'components/Banner.scss';
@import 'components/Footer.scss';
@import 'components/Hero.scss';
@import 'components/Logo.scss';
@import 'components/Logos.scss';
@import 'components/Paragraph.scss';
@import 'components/Showcase.scss';
@import 'components/Showpiece.scss';
@import 'components/SocialButton.scss';
