name: Build and Deploy to GitHub Pages

on:
  push:
    branches:
      - master

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "22"

      - name: Set up environment for Puppeteer
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install -yq chromium-browser gconf-service liboss4-salsa-asound2 libatk1.0-0 libc6 libcairo2 \
            libcups2 libdbus-1-3 libexpat1 libfontconfig1 libgbm1 libgcc1 libgconf-2-4 \
            libgdk-pixbuf2.0-0 libglib2.0-0 libgtk-3-0 libnspr4 libpango-1.0-0 \
            libpangocairo-1.0-0 libstdc++6 libx11-6 libx11-xcb1 libxcb1 libxcomposite1 \
            libxcursor1 libxdamage1 libxext6 libxfixes3 libxi6 libxrandr2 libxrender1 \
            libxss1 libxtst6 ca-certificates fonts-liberation libnss3 lsb-release \
            xdg-utils wget libxshmfence1 libatk-bridge2.0-0

      - name: Add react-snap Puppeteer configuration
        uses: jaywcjlove/github-action-package@main
        with:
          path: package.json
          data: |
            {
              "reactSnap": {
                "source": "dist",
                "puppeteerArgs": [
                  "--no-sandbox",
                  "--disable-setuid-sandbox",
                  "--disable-dev-shm-usage",
                  "--single-process"
                ]}
            }

      - name: Install Dependencies
        run: yarn install

      - name: Test
        run: yarn test

      - name: Build
        run: yarn build

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: master
          folder: dist
          token: ${{ secrets.DEPLOY_TOKEN }}
          repository-name: benpryke/benpryke.github.io
